/* .botao{
    background-color: var(--cor-destaque);
    font-size: 1.4rem;
    border-radius: 5px;
    padding: .5rem 2rem;
    margin-top: 1rem;
    transition: box-shadow .5s ease-in-out;
} */